In [1]:
from pandas.io.html import read_html

In [2]:
# page = 'https://liquipedia.net/dota2/Portal:Players/Americas'
page = 'https://liquipedia.net/dota2/Players_(all)'

In [3]:
# features = ['ID','Name','Team','Links']

In [19]:
table = read_html(page, attrs={"class":"wikitable"}, header=0, skiprows=943)

In [20]:
table[0].head()

   Unnamed: 0  yChen     Pan Shuaifang      Team EVER  Unnamed: 4
0         NaN   Yds.        Zhao Jiayi            NaN         NaN
1         NaN    Yel  Yelisey Filippov  Husky eSports         NaN
2         NaN    Yin         Fan Qihua       C5Gaming         NaN
3         NaN  yoky-         Maxim Kim          PRIES         NaN
4         NaN    yol    Vladimir Basov            NaN         NaN

In [21]:
table[0].yChen.head(60)

0            Yds.
1             Yel
2             Yin
3           yoky-
4             yol
5           yoona
6           Yopaj
7         young G
8            Yowe
9              Yp
10            YRG
11         Ysaera
12            yxb
13            yxm
14            YYF
15          Zacky
16            zai
17          Zayac
18           Zeal
19       Zenigata
20    ZeroPerfect
21         Zfreek
22           zhi!
23           Zhou
24        Zitraks
25          Zizou
26           ZSMJ
27           Ztok
28            zxc
29            Zyd
30           Zyzz
31           Женя
32        чикиряу
33              一
34           圣子华炼
35            垃圾君
36             天命
37            小郭嘉
38            白学家
39            闷油瓶
40             阿香
41            黑凤梨
Name: yChen, dtype: object